input.checkboxes {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-right: 1em;
}
input.numbers {
    margin-left: 1em;
    width: 3em;
}

#input-list {
    display: none;
}

#input-file {
    display: none;
}

#add-button {
    background-color: rgb(96,96,96);
    border: 1px;
    border-color: grey;
    border-style: solid;
    color: white;
}

#save-button {
    background-color: rgb(96,96,96);
    border: 1px;
    border-color: grey;
    border-style: solid;
    color: white;
}

.input-row {
    display: grid;
    grid-template-columns: 3fr 1fr 5fr 1fr;
    grid-gap: 1em;
}

.input-key {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px;
    border-color: grey;
    border-style: solid;
    /* border-bottom: none; */
    height: 20px;
    width: 100%;
}

.input-value {
    resize: none;
    overflow: hidden;
    min-height: 20px;
    height: 20px;
    max-height: 1000px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px;
    border-color: grey;
    border-style: solid;
    color: white;
}

.input-button {
    /* width: 20%; */
    height: 20px;
    background-color: rgb(96,96,96);
    border: 1px;
    border-color: grey;
    border-style: solid;
    color: white;
}

.input-arrow {
    height: 20px;
    min-width: 20px;
    text-align: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #fff;
    cursor: help;
}

.tooltip .tooltiptext-bottom {
    cursor: default;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    z-index: 100;
    top: 100%;
    pointer-events: none;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext-bottom {
    visibility: visible;
}

.tooltip .tooltiptext-top {
    cursor: default;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    z-index: 100;
    top: -150%;
    pointer-events: none;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext-top {
    visibility: visible;
}

.no-select {
    user-select: none;
}

#input-type {
    position: absolute;
    width: 52px;
    left: 115px;
    margin-top: 5px;
}

#p-t {
    position: absolute;
    width: 36px;
    left: 110px;
    margin-top: 5px;
}